@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Md. Akram Hossain<br />
    Roll: 1252917<br />
    <abbr title="Phone">P:</abbr>
    01670761068
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aliriaj411@gmail.com">aliriaj411@gmail.com</a>
</address>